name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd ~/api-rate-limiter-gateway
          git pull origin main
          pip3 install -r requirements.txt
          pkill -f uvicorn
          nohup uvicorn main:app --host 0.0.0.0 --port 8080 > output.log 2>&1 &
